* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Trispace", sans-serif;
}
